{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block entrada %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center">{% trans "Sign Up" %}</h1>

      <p class="text-center">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div class="mb-3">
          <label for="{{ form.email.id_for_label }}" class="form-label">Correo Electrónico:</label>
          {{ form.email }}
        </div>
        <div class="mb-3">
          <label for="{{ form.first_name.id_for_label }}" class="form-label">Nombres:</label>
          {{ form.first_name }}
        </div>
        <div class="mb-3">
          <label for="{{ form.last_name.id_for_label }}" class="form-label">Apellidos:</label>
          {{ form.last_name }}
        </div>
        <div class="mb-3">
          <label for="{{ form.telefono.id_for_label }}" class="form-label">Telefono:</label>
          {{ form.telefono }}
        </div>
        <div class="mb-3">
          <label for="{{ form.documento.id_for_label }}" class="form-label">Documento:</label>
          {{ form.document }}
        </div>
        <div class="mb-3">
          <label for="{{ form.password1.id_for_label }}" class="form-label">Contraseña:</label>
          {{ form.password1 }}
        </div>
        <div class="mb-3">
          <label for="{{ form.password2.id_for_label }}" class="form-label">Confirmar Contraseña:</label>
          {{ form.password2 }}
        </div>
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock entrada %}
