{% extends "general.html" %}

{% block tituloHeader %} Auditorias {% endblock tituloHeader %}

{% block titulo %} Auditorias {% endblock titulo %}
{% block tituloTargeta %} Auditorias {% endblock tituloTargeta %}

{% block content %}
  {% if not user.esResidente %}
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for field in form %}
    <div class="form-group">
      <strong>{{ field.label_tag }}</strong>
      <br />
      {% if field.name == 'fecha' %}
        <input type="date" name="{{ field.name }}" value="{{ field.value }}">
      {% else %}
        {{ field }}
      {% endif %}
    </div>
    {% endfor %}

    <input type="submit" value="Guardar" class="btn btn-primary">
  </form>
  {% endif %}
{% endblock content %}

{{% block tabla %}
<div class="table-responsive">
  {% if elementos %}
    <table class="table table-hover text-nowrap">
      <thead>
        <tr>
          <th>#</th>
          <th>Sec</th>
          <th>Usuario</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Tipo</th>
        </tr>
      </thead>
      <tbody>
        {% for auditoria in elementos %}
          {% if auditoria.usuario == user.document %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>
                <a href="{% url 'auditoria_edit' auditoria.id %}">{{ auditoria.sec }}</a>
              </td>
              <td>{{ auditoria.usuario }}</td>
              <td>{{ auditoria.fecha|date:"d/m/Y" }}</td>
              <td>{{ auditoria.hora }}</td>
              <td>{{ auditoria.tipo }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No se encontraron elementos.</p>
  {% endif %}
</div>
{% endblock tabla %}

