{% extends "general.html" %}

{% block tituloHeader %} Conceptos {% endblock tituloHeader %}

{% block titulo %} Conceptos {% endblock titulo %}
{% block tituloTargeta %} Conceptos {% endblock tituloTargeta %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for field in form %}
    <div class="form-group">
      <strong>{{ field.label_tag }}</strong>
      <br />
      {% if field.name == 'fecha' %}
        <input type="date" name="{{ field.name }}" value="{{ field.value }}">
      {% else %}
        {{ field }}
      {% endif %}
    </div>
    {% endfor %}

    <input type="submit" value="Guardar" class="btn btn-primary">
  </form>
{% endblock content %}

{% block tabla %}
{% if elementos %}
<div class="table-responsive">
  <table class="table table-hover text-nowrap">
    <thead>
      <tr>
        <th>#</th>
        <th>detalle</th>
        <th>valor</th>
      </tr>
    </thead>
    <tbody>
      {% for otro in elementos %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>
           <a href="{% url 'conceptos_otros_edit' otro.id %}"> 
            <p>
              {{otro.detalle}}
            </p>
          </a>
        </td>
        <td>
          {{otro.valor}}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock tabla %}

