{% extends "general.html" %}

{% block tituloHeader %} Conceptos Gastos {% endblock tituloHeader %}

{% block titulo %} Conceptos Gastos {% endblock titulo %}
{% block tituloTargeta %} Conceptos Gastos {% endblock tituloTargeta %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for field in form %}
    <div class="form-group">
      <strong>{{ field.label_tag }}</strong>
      <br />
      {% if field.name == 'fecha' %}
        <input type="date" name="{{ field.name }}" value="{{ field.value }}">
      {% else %}
        {{ field }}
      {% endif %}
    </div>
    {% endfor %}

    <input type="submit" value="Guardar" class="btn btn-primary">
  </form>
{% endblock content %}

{% block tabla %}
<div class="table-responsive">
  <table class="table table-hover text-nowrap">
    <thead>
      <tr>
        <th>#</th>
        <th>Detalle</th>
      </tr>
    </thead>
    <tbody>
      {% for concepto in elementos %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>
          <a href="{% url 'gastos_edit' concepto.id %}">{{ concepto.detalle }}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    
  </table>
</div>

{% endblock tabla %}
