{% extends "general.html" %}

{% block tituloHeader %} Detalle Gas {% endblock tituloHeader %}

{% block titulo %} Detalle Gas {% endblock titulo %}
{% block tituloTargeta %} Detalle Gas {% endblock tituloTargeta %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for field in form %}
    <div class="form-group">
      <strong>{{ field.label_tag }}</strong>
      <br />
      {% if field.name == 'fecha' %}
        <input type="date" name="{{ field.name }}" value="{{ field.value }}">
      {% else %}
        {{ field }}
      {% endif %}
    </div>
    {% endfor %}

    <input type="submit" value="Guardar" class="btn btn-primary">
  </form>
{% endblock content %}

{% block tabla %}
{% if elementos %}
<div class="table-responsive">
  <table class="table table-hover text-nowrap">
    <thead>
      <tr>
        <th>#</th>
        <th>Secuencia</th>
        
        <th>Valor</th>
        <th>Pago</th>
        <th>Banco</th>
        <th>Tipo Tarifa</th>
        <th>Num Aut</th>
        <th>Cuenta</th>
      </tr>
    </thead>
    <tbody>
      {% for gas in elementos %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>
          <a href="{% url 'detalle_gas_edit' gas.secuencia %}">{{ gas.secuencia }}</a>
        </td>
        <td>{{ gas.valor }}</td>
        <td>{{ gas.pago }}</td>
        <td>{{ gas.banco }}</td>
        <td>{{ gas.tipTar }}</td>
        <td>{{ gas.numaut }}</td>
        <td>{{ gas.cuenta }}</td>
      </tr>
      {% endfor %}
    </tbody>
    
  </table>
</div>{% endif %}

{% endblock tabla %}
