
{% extends "general.html" %}

{% block tituloHeader %} Inmuebles {% endblock tituloHeader %}

{% block titulo %} Inmuebles {% endblock titulo %}
{% block tituloTargeta %} Inmuebles {% endblock tituloTargeta %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for field in form %}
    <div class="form-group">
      <strong>{{ field.label_tag }}</strong>
      <br />
      {% if field.name == 'fecha' %}
        <input type="date" name="{{ field.name }}" value="{{ field.value }}">
      {% else %}
        {{ field }}
      {% endif %}
    </div>
    {% endfor %}

    <input type="submit" value="Guardar" class="btn btn-primary">
  </form>
{% endblock content %}

{% block tabla %}
{% if elementos %}
<div class="table-responsive">
  <table class="table table-hover tinmueble-nowrap">
    <thead>
      <tr>
        <th>#</th>
        <th>Codigo</th>
        <th>Fecha</th>
        <th>Usuario</th>

      </tr>
    </thead>
    <tbody>
      {% for inmueble in elementos %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>
          <a href="{% url 'inmuebles_edit' inmueble.id %}">{{ inmueble.codigo }}</a>
        </td>
        <td>{{ inmueble.fecha|date:"d/m/Y" }}</td>
        <td>{{ inmueble.id_usuario}}</td> 

      </tr>
      {% endfor %}
    </tbody>
    
  </table>
</div>{% endif %}

{% endblock tabla %}
