{% extends "general.html" %}

{% block tituloHeader %} Tar Inm {% endblock tituloHeader %}

{% block titulo %} Tar Inm {% endblock titulo %}
{% block tituloTargeta %} Tar Inm {% endblock tituloTargeta %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for field in form %}
    <div class="form-group">
      <strong>{{ field.label_tag }}</strong>
      <br />
      {% if field.name == 'fechainicio' or field.name == 'fechafin' %}
        
        <input type="date" name="{{ field.name }}" value="{{ field.value }}">
      {% else %}
        {{ field }}
      {% endif %}
    </div>
    {% endfor %}

    <input type="submit" value="Guardar" class="btn btn-primary">
  </form>
{% endblock content %}

{% block tabla %}
{% if elementos %}
<div class="table-responsive">
  <table class="table table-hover trecaudo-nowrap">
    <thead>
      <tr>
        <th>#</th>
        <th>Inmueble</th>
        <th>Usuario</th>
        <th>Tarifa</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
      </tr>
    </thead>
    <tbody>
      {% for recaudo in elementos %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>
          <a href="{% url 'tar_inm_edit' recaudo.id %}">{{ recaudo.id_inmueble }}</a>
        </td>
        <td>{{ recaudo.usuario }}</td>
        <td>{{ recaudo.tarifa }}</td>
        <td>{{ recaudo.fechainicio|date:"d/m/Y" }}</td>
        <td>{{ recaudo.fechafin|date:"d/m/Y" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock tabla %}
