{% extends "general.html" %}

{% block tituloHeader %} Tarifas {% endblock tituloHeader %}

{% block titulo %} Tarifas {% endblock titulo %}
{% block tituloTargeta %} Tarifas {% endblock tituloTargeta %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for field in form %}
    <div class="form-group">
      <strong>{{ field.label_tag }}</strong>
      <br />
      {{ field }}
    </div>
    {% endfor %}

    <input type="submit" value="Guardar" class="btn btn-primary">
  </form>
{% endblock content %}

{% block tabla %}
{% if elementos %}
<div class="table-responsive">
  <table class="table table-hover ttarifa-nowrap">
    <thead>
      <tr>
        <th>#</th>
        <th>Detalle</th>
        <th>Valor</th>
        <th>Int Mor</th>
        <th>Imprevistos</th>
        <th>Estados</th>
      </tr>
    </thead>
    <tbody>
      {% for tarifa in elementos %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>
          <a href="{% url 'tarifas_edit' tarifa.id %}">{{ tarifa.detalle }}</a>
        </td>
        <td>{{ tarifa.valor }}</td>
        <td>{{ tarifa.intmor }}</td>
        <td>{{ tarifa.imprevistos}}</td>
        <td>{{ tarifa.estados }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock tabla %}
