{% extends "general.html" %}

{% block tituloHeader %} Terceros {% endblock tituloHeader %}

{% block titulo %} Terceros {% endblock titulo %}
{% block tituloTargeta %} Terceros {% endblock tituloTargeta %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for field in form %}
    <div class="form-group">
      <strong>{{ field.label_tag }}</strong>
      <br />
      {{ field }}
    </div>
    {% endfor %}

    <input type="submit" value="Guardar" class="btn btn-primary">
  </form>
{% endblock content %}

{% block tabla %}
{% if elementos %}
<div class="table-responsive">
  <table class="table table-hover ttercero-nowrap">
    <thead>
      <tr>
        <th>#</th>
        <th>Tipo Documento</th>
        <th>Numero Documento</th>
        <th>Nombres</th>
        <th>apellidos</th>
        <th>Telefono Movil</th>
      </tr>
    </thead>
    <tbody>
      {% for tercero in elementos %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>
          <a href="{% url 'terceros_edit' tercero.id %}">{{ tercero.tipDocumento }}</a>
        </td>
        <td>{{ tercero.numDoc }}</td>
        <td>{{ tercero.nombres}}</td>
        <td>{{ tercero.apellidos }}</td>
        <td>{{ tercero.telmov }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock tabla %}

