{% extends "general.html" %}

{% block tituloHeader %} Tipo Documento {% endblock tituloHeader %}

{% block titulo %} Tipo Documento {% endblock titulo %}
{% block tituloTargeta %} Tipo Documento {% endblock tituloTargeta %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for field in form %}
    <div class="form-group">
      <strong>{{ field.label_tag }}</strong>
      <br />
      {{ field }}
    </div>
    {% endfor %}

    <input type="submit" value="Guardar" class="btn btn-primary">
  </form>
{% endblock content %}

{% block tabla %}
{% for tipo in elementos %}
  <p>{{ tipo.detalle }}</p>
{% endfor %}
{% endblock tabla %}
